<marquee scrollamount="7" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
  <img src="/imgs/buttons/footer/anydamn.gif" alt="WORKS IN ALL BROWSERS" />
  <img src="/imgs/buttons/footer/bestviewedopen.gif" alt="open your eyes" />
  <a href="https://cock.li"><img src="/imgs/buttons/footer/cockli.png" alt="Mail" /></a>
  <a href="https://gnu.org/software/emacs"><img src="/imgs/buttons/footer/emacs_b.png" alt="Org >>> Markdown" /></a>
  <a href="https://emptyhalls.neocities.org/"><img src="/imgs/buttons/footer/emptyhalls.gif" alt="nothing here" /></a>
  <a href="https://firefox.com"><img src="/imgs/buttons/footer/getfirefox.gif" alt="at least better than chrome" /></a>
  <img src="/imgs/buttons/footer/hatemac.jpg" alt="I HATE MACS" />
  <img src="/imgs/buttons/footer/hatems.jpg" alt="I HATE MICROSOFT" />
  <a href="https://kde.org"><img src="/imgs/buttons/footer/kde.gif" alt="I like KDE :D" /></a>
  <a href="{{ .Site.BaseURL }}sike"><img src="/imgs/buttons/footer/linuxdir.gif" alt="Trust me :3" /></a>
  <img src="/imgs/buttons/footer/linuxgames.gif" alt="False Link" />
  <a href="https://www.nationalgeographic.com/"><img src="/imgs/buttons/footer/nationalgeographic.gif" alt="Yellow Rectangle" /></a>
  <img src="/imgs/buttons/footer/networkneighborhood.png" alt="Network Neighborhood Gang B)" />
  <img src="/imgs/buttons/footer/pb.gif" alt="This Site is protected by PunkBuster (Hacking will result on you being banned)" />
  <a href="https://decolonizepalestine.com/"><img src="/imgs/buttons/footer/standwith.png" alt="FREE PALESTINE" /></a>
  <a href="https://www.startpage.com/"><img src="/imgs/buttons/footer/startpage.gif" alt="Google ?? Nah it's Spyware" /></a>
  <a href="{{ .Site.Params.social.steam }}"><img src="/imgs/buttons/linktree/steam.gif" alt="Steam :v" /></a>
  <a href="{{ .Site.BaseURL }}"><img src="/imgs/buttons/footer/sweethomepage.gif" alt="Index.html Sweet Index.html" /></a>
  <img src="/imgs/buttons/footer/warp4now.gif" alt="OS/2 Warp4 is the Best OS" />
  <a href="{{ .Site.Params.social.youtube }}"><img src="/imgs/buttons/linktree/youtube.gif" alt="Youtube :DD" /></a>
  <img src="/imgs/buttons/footer/y2k.gif" alt="This Site is Y2K Proof B) (It has been 24 years after Y2K)" />
</marquee>
