<footer>
  <marquee>
    <img src="/imgs/buttons/800x600.gif" alt="maybe" />
    <img src="/imgs/buttons/anydamn.gif" alt="WORKS IN ALL BROWSERS" />
    <img src="/imgs/buttons/bestviewedopen.gif" alt="open your eyes" />
    <a href="https://cock.li"><img src="/imgs/buttons/cockli.png" alt="Mail" /></a>
    <a href="https://gnu.org/software/emacs"><img src="/imgs/buttons/emacs_b.png" alt="Org >>> Markdown" /></a>
    <a href="https://emptyhalls.neocities.org/"><img src="/imgs/buttons/emptyhalls.gif" alt="nothing here" /></a>
    <a href="https://firefox.com"><img src="/imgs/buttons/getfirefox.gif" alt="at least better than chrome" /></a>
    <img src="/img/buttons/hatemac.gif" alt="I HATE MACS" />
    <img src="/imgs/buttons/hatems.gif" alt="I HATE MICROSOFT" />
    <a href="https://kde.org"><img src="/imgs/buttons/kde.gif" alt="I like KDE :D" /></a>
    <a href="{{ .Site.BaseURL }}sike"><img src="/imgs/buttons/linuxdir.gif" alt="Trust me :3" /></a>
  </marquee>
</footer>
